<!--
  We could use something like `<is-land>` here to load up a Vue / React / Svelte app.
  https://github.com/11ty/is-land
  or any other solution for loading up this bad boy.
-->
<turbo-frame id="island-1">
  <% base_name = File.basename(__FILE__, ".html.erb") %>
  <% base_path = "/app/views/islands/#{base_name}" %>
  <%= vite_javascript_tag "#{base_path}.js" %>
  <%= vite_stylesheet_tag "#{base_path}.css" %>

  <div class="island-1">
    Hello from Island 1
  </div>
</turbo-frame>
